<div class="chosenBox">
	<div class="conBox" id="conBox" ng-show ="showConBox" ng-click="showDownBox($event)">{{myChosen}}</div>
	<div class="conBoxMulti" id="conBoxMulti" ng-show ="showConBoxMulti" ng-click="showDownBox($event)"></div>


	<div class="downBox" id="downBox" ng-show='showList'>

		<div class="searchBox">
			<input type="text" class="searchCon" ng-model="searchCon"placeholder="搜索" ng-change="inputChange()" ng-focus="xxx">
		</div>

		<ul class="conList" id="conList">
			<li ng-repeat="data in chosenData" ng-class="{'active':false}" label="{{data.label}}" value="{{data.value}}">
		        <span ng-if="!isArray(data)">{{data.label}}</span>
		        <ul ng-if="isArray(data)">
		        	<li ng-repeat="x in data" label="{{x.label}}" value="{{x.value}}">
		        		<span>{{x.label}}<span>
		        	</li>
		        </ul>
			</li>
		</ul>

	</div>

</div>


